---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Merriweather, Georgia, serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.7;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-extralight: lighten($grey-color, 35%);
$grey-color-light: lighten($grey-color, 20%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin column-count($count) {
	-moz-column-count: $count;
    -webkit-column-count: $count;
    column-count: $count;
}

@mixin column-gap($gap) {
  -moz-column-gap: $gap;
  -webkit-column-gap: $gap;
  column-gap: $gap;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

// Flexible grid

@mixin columnGrid {
  width: 90%;
  margin: 20px auto;
  line-height: 0;
  @include column-gap(20);
  @include column-count(5);
    
  img {
    display: inline-block;
    margin-bottom: 15px;
    width: 100% !important;
    height: auto !important;
   }
}

.grid-2 {
  @include columnGrid();
}
.grid-1 {
  @include columnGrid();
}


@media (max-width: 5000px) {
    .grid-2 {
      @include column-count(2);
    }
    .grid-1 {
      @include column-count(1);
    }
  }
  @media (max-width: 1000px) {
    .grid-2 {
      @include column-count(2);
    }
    .grid-1 {
      @include column-count(1);
    }
  }
  @media (max-width: 800px) {
    .grid-2 {
      @include column-count(2);
    }
    .grid-1 {
      @include column-count(1);
    }
  }

  @media (max-width: 400px) {
    .grid-2 {
      @include column-count(1);
    }
    .grid-1 {
      @include column-count(1);
    }
  }
